#header{
	width: 50%;
	float: left;
}

#header2{
	width: 48%;
	float: right;
}

body{
	background: #C0D9D9;
}

#accordion{
	background: white;
	border-radius: 10px;
	margin: 2px;
	padding: 3px;
	margin-top: 10px;
}

#accordion a{
	color: #5959AB;
}

#conteudo {
	background: white;
	margin-top: 10px;
	border-radius: 10px;
	padding: 5px;
}

.alerta{
	margin: 2px;
}